doctype html
html(lang="ru")
	include components/header.pug
	body
		include components/navbar.pug
		include components/sidenav.pug
		include components/search.pug

		div(class="container row page")
			main(class="category")
				h1(class="title fs_36") Видео

				div(class="cardnews_row row mb_70")
					article(class="cardnews row")
						a(class="cardnews_picture" href="#0")
							img(class="cardnews_image" loading="lazy" alt="" src="./images/category/01.jpg" width="550" height="300")
							div(class="cardnews_play")
								include ../images/play-button.svg
						div(class="cardnews_content")
							p(class="cardnews_category fs_18")
								a(href="#0") Видео
							h2(class="cardnews_title fs_18")
								a(href="#0") Зендая, Lil Nas X, Сиара, Карди Би и другие на премии BET Awards 2021
							footer(class="cardnews_footer row")
								ul(class="cardnews_tags")
									each tag in ["Сиара","Наоми Кэмпбелл","Музыка"]
										li(class="cardnews_tags_item")
											a(href="#0")= tag

								time(class="cardnews_time" datetime="2021-06-28 20:00") 28 июня 2021 / 20:00



					article(class="cardnews row")
						a(class="cardnews_picture" href="#0")
							img(class="cardnews_image" loading="lazy" alt="" src="./images/category/02.jpg" width="550" height="300")
							div(class="cardnews_play")
								include ../images/play-button.svg
						div(class="cardnews_content")
							p(class="cardnews_category fs_18")
								a(href="#0") Видео
							h2(class="cardnews_title fs_18")
								a(href="#0") Ромео Бекхэм и его девушка Миа Реган впервые вместе вышли в свет
							footer(class="cardnews_footer row")
								ul(class="cardnews_tags")
									each tag in ["Виктория Бекхэм","дети звезд","звездные пары","Дэвид Бекхэм"]
										li(class="cardnews_tags_item")
											a(href="#0")= tag

								time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 18:45





				section
					h2(class="title_center fs_36") К лету готова
					div(class="cardspecial_row row mb_70")
						article(class="cardspecial")
							a(class="cardspecial_link" href="#0")
								div(class="cardspecial_picture")
									img(class="cardspecial_image" loading="lazy" src="./images/main/summer1.jpg" alt="" width="300" height="300")
								footer(class="cardspecial_footer")
									h3(class="cardspecial_title") Уход за кожей и волосами
									p(class="cardspecial_description") Как повторить прическу Манижи с "Евровидения": мастер-класс от стилиста

						article(class="cardspecial")
							a(class="cardspecial_link" href="#0")
								div(class="cardspecial_picture")
									img(class="cardspecial_image" loading="lazy" src="./images/main/summer2.jpg" alt="" width="300" height="300")
								footer(class="cardspecial_footer")
									h3(class="cardspecial_title") Уход за кожей и волосами
									p(class="cardspecial_description") От принцессы Дианы до Мелании Трамп: прически, которые не выходят из моды

						article(class="cardspecial")
							a(class="cardspecial_link" href="#0")
								div(class="cardspecial_picture")
									img(class="cardspecial_image" loading="lazy" src="./images/main/summer3.jpg" alt="" width="300" height="300")
								footer(class="cardspecial_footer")
									h3(class="cardspecial_title") Уход за кожей и волосами
									p(class="cardspecial_description") 5 лучших бьюти-процедур в преддверии лета: мнение Яны Лапутиной

						article(class="cardspecial")
							a(class="cardspecial_link" href="#0")
								div(class="cardspecial_picture")
									img(class="cardspecial_image" loading="lazy" src="./images/main/summer4.jpg" alt="" width="300" height="300")
								footer(class="cardspecial_footer")
									h3(class="cardspecial_title") Уход за кожей и волосами
									p(class="cardspecial_description") От лаванды до зелени: весенне-летние тренды маникюра



				div(class="cardnews_row row mb_70")
					article(class="cardnews row")
						a(class="cardnews_picture" href="#0")
							img(class="cardnews_image" loading="lazy" alt="" src="./images/category/03.jpg" width="550" height="300")
							div(class="cardnews_play")
								include ../images/play-button.svg
						div(class="cardnews_content")
							p(class="cardnews_category fs_18")
								a(href="#0") Видео
							h2(class="cardnews_title fs_18")
								a(href="#0") Наоми Кэмпбелл впервые вышла в свет после рождения дочери
							footer(class="cardnews_footer row")
								ul(class="cardnews_tags")
									each tag in ["Наоми Кэмпбелл","дети звезд"]
										li(class="cardnews_tags_item")
											a(href="#0")= tag

								time(class="cardnews_time" datetime="2021-06-28 17:26") 28 июня 2021 / 17:26

					article(class="cardnews row")
						a(class="cardnews_picture" href="#0")
							img(class="cardnews_image" loading="lazy" alt="" src="./images/category/04.jpg" width="550" height="300")
							div(class="cardnews_play")
								include ../images/play-button.svg
						div(class="cardnews_content")
							p(class="cardnews_category fs_18")
								a(href="#0") Видео
							h2(class="cardnews_title fs_18")
								a(href="#0") Евротур: Джастин и Хейли Бибер улетели отдыхать в Грецию
							footer(class="cardnews_footer row")
								ul(class="cardnews_tags")
									each tag in ["Джастин Бибер","звездные пары","Путешествия"]
										li(class="cardnews_tags_item")
											a(href="#0")= tag

								time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 15:50



				section(class="mb_70")
					h2(class="title_center fs_36") Instagram звезд
					div(class="cardinst_row row")
							article(class="cardinst")
								a(class="cardinst_link" href="#0")
									div(class="cardinst_picture")
										img(class="cardinst_image" loading="lazy" src="./images/main/instagram1.jpg" alt="" width="300" height="300")
									h3(class="cardinst_title fs_18") @sasha_savelieva

							article(class="cardinst")
								a(class="cardinst_link" href="#0")
									div(class="cardinst_picture")
										img(class="cardinst_image" loading="lazy" src="./images/main/instagram2.jpg" alt="" width="300" height="300")
									h3(class="cardinst_title fs_18") @sasha_savelieva

							article(class="cardinst")
								a(class="cardinst_link" href="#0")
									div(class="cardinst_picture")
										img(class="cardinst_image" loading="lazy" src="./images/main/instagram3.jpg" alt="" width="300" height="300")
									h3(class="cardinst_title fs_18") @sasha_savelieva

							article(class="cardinst")
								a(class="cardinst_link" href="#0")
									div(class="cardinst_picture")
										img(class="cardinst_image" loading="lazy" src="./images/main/instagram4.jpg" alt="" width="300" height="300")
									h3(class="cardinst_title fs_18") @sasha_savelieva


				div(class="cardnews_row row mb_70")
					article(class="cardnews row")
						a(class="cardnews_picture" href="#0")
							img(class="cardnews_image" loading="lazy" alt="" src="./images/category/05.jpg" width="550" height="300")
							div(class="cardnews_play")
								include ../images/play-button.svg
						div(class="cardnews_content")
							p(class="cardnews_category fs_18")
								a(href="#0") Видео

							h2(class="cardnews_title fs_18")
								a(href="#0") Глюк’oZa, Ксения Собчак, Манижа, Елка и другие на закрытии фестиваля "Жара"
							footer(class="cardnews_footer row")
								ul(class="cardnews_tags")
									each tag in ["Ксения Собчак","Леонид Агутин","Елка","Чистякова-Ионова","Дмитрий Маликов"]
										li(class="cardnews_tags_item")
											a(href="#0")= tag

								time(class="cardnews_time" datetime="2021-06-28 20:00") 28 июня 2021 / 20:00



					article(class="cardnews row")
						a(class="cardnews_picture" href="#0")
							img(class="cardnews_image" loading="lazy" alt="" src="./images/category/06.jpg" width="550" height="300")
							div(class="cardnews_play")
								include ../images/play-button.svg
						div(class="cardnews_content")
							p(class="cardnews_category fs_18")
								a(href="#0") Видео
							h2(class="cardnews_title fs_18")
								a(href="#0") "Ангел" Victoria's Secret Тейлор Хилл выходит замуж
							footer(class="cardnews_footer row")
								ul(class="cardnews_tags")
									each tag in ["звездные пары","Звездная помолвка"]
										li(class="cardnews_tags_item")
											a(href="#0")= tag

								time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 18:45


				div(class="category_footer")
					button(class="btn btn_link") Показать еще...

			include components/sidebar.pug



		include components/footer.pug
		include components/scrolltop
